DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=novara_local
DB_SSL=false

JWT_SECRET=change-me-for-local-dev
FRONTEND_URL=http://localhost:8080

# Resend e-post
RESEND_API_KEY=re_eTP2zcqA_9ZtA7bbpsX1ysF6puiZKBvn6
EMAIL_FROM=Raisium <notifications@mail.raisium.io>
