<h1>Protokoll fra ekstraordinær generalforsamling</h1>

<p>
<strong>{{company_name}}</strong><br>
Org.nr.: {{orgnr}}<br>
Dato: {{date}}<br>
Sted: Digitalt møte
</p>

<hr>

<h3>1. Åpning av generalforsamlingen</h3>
<p>
Generalforsamlingen ble åpnet av styrets leder.
Innkalling og dagsorden ble godkjent.
Samtlige aksjer og stemmer i selskapet var representert.
</p>

<h3>2. Valg av møteleder og medunderskriver</h3>
<ul>
<li>Møteleder: {{chair_name}}</li>
<li>Medunderskriver: {{secretary_name}}</li>
</ul>

<h3>3. Fullmakt til kapitalforhøyelse</h3>

<p>
Styret hadde fremmet forslag om at generalforsamlingen
gir styret fullmakt etter aksjeloven § 10-14.
</p>

<p>
Generalforsamlingen traff følgende vedtak:
</p>

<blockquote>

1. Styret gis fullmakt etter aksjeloven § 10-14 til å forhøye
   selskapets aksjekapital med inntil <strong>{{amount}} NOK</strong>.

2. Fullmakten kan benyttes til utstedelse av aksjer i forbindelse med
   konvertering av RC-avtale eller tilsvarende konvertible instrumenter.

3. Fullmakten kan benyttes med fravikelse av eksisterende
   aksjeeieres fortrinnsrett, jf. aksjeloven § 10-5.

4. Styret gis fullmakt til å fastsette tegningsvilkår,
   tegningskurs og øvrige betingelser innenfor rammen av denne fullmakten.

5. Fullmakten gjelder i to år fra vedtakstidspunktet.

</blockquote>

<h3>4. Avslutning</h3>
<p>
Det forelå ingen ytterligere saker.
Generalforsamlingen ble hevet.
</p>

<br><br>

<h3>Signaturer</h3>

<table width="100%" style="margin-top:60px;">
<tr>
<td width="50%">
_________________________<br>
{{chair_name}}<br>
Møteleder
</td>

<td width="50%">
_________________________<br>
{{secretary_name}}<br>
Medunderskriver
</td>
</tr>
</table>